.layout {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    min-height: 100vh;
    background: linear-gradient(180deg, #1d2a47 40%, #3b65ad 100%);
    &__main {
        flex: 1;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    h2 {
        color: #4cb685;
    }
    h3 {
        color: #2bbd7b;
    }
    main {
        text-align: center;
    }
}
