.layout {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    min-height: 100vh;
    background: linear-gradient(30deg, #1d2a47 0%, #0c1525 100%);
    &__main {
        flex: 1;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
